// Color + Mixin
$bg-light: #74b9ff;
$text-color: #fff;
$border-color: #df8e00;
$bg-dark: #292640;



@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

// CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
   background: $bg-light; 
   width: 100%;
   min-height: 100vh;
}
label {
  display: inline-block;
  width: 6.5rem;
  height: 3.5rem;
  background: #ccc;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.toggle {
  &__input {
    display: none;
  }
  &__markup {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s linear;
    &::before {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      width: 2.5rem;
      top: 0.5rem;
      background: #fff;
      transition: all 0.3s linear;
      border-radius: 50%;
    }
  }
}
.dark {
    background: $bg-dark;
}
input[type="checkbox"]:checked ~ .toggle__markup {
  background: rgb(80, 70, 70);
}

input[type="checkbox"]:checked ~ .toggle__markup:before {
  transform: translateX(3rem);
}

.title {
  font-size: 4rem;
  color: $text-color;
  text-align: center;
  margin: 4rem;
}
.header {
  @include flex(column, center, center);
  &__search {
    width: 100%;
    max-width: 40rem;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    background-color: $text-color;
    border-radius: 1.6rem 0px 1.6rem 0;
    border-bottom: 3px solid $border-color;
    font-size: 2rem;
    font-weight: 300;
    transition: all 0.2s linear;
    &:focus {
      box-shadow: 0 0 7px 3px #f6f6f6;
    }
  }
  &__msg {
    font-size: 2rem;
    margin-top: 2rem;
    display: none;
  }
}

.location {
  &__list {
    list-style-type: none;
    max-width: 60rem;
    @include flex(row);
    margin: 0 auto;
  }
  &__item {
    font-size: 1.8rem;
    color: #000;
    margin: 2rem 2rem;
    background: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 3px;
    max-width: 30rem;
    min-width: 20rem;
    &-city {
      display: flex;
      align-items: flex-start;
    }
    &-sys-city {
      font-size: 1.4rem;
      display: inline-block;
      align-items: flex-start;
      background-color: #ff8c00;
      border-radius: 1rem;
      padding: 0 0.4rem;
    }
  }
}
